body {
  background-color: #FAF9F5;
  padding: 0px;
  font: 17px/1.55 "Times New Roman", Times, "Nimbus Roman", "Liberation Serif", "Songti SC", SimSun, serif;
  color: #3D3929;
  font-weight: 400;
  margin: 0;
}
